.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timing-function),
    transform 100ms var(--timing-function);
}

.socials__link--gray {
  background-color: #ffffff10;
}

.socials__link:active {
  transform: scale(1.1);
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__icon {
  fill: var(--social-clr-primery);
  transition: fill 250ms var(--timing-function);
}

.socials__icon--white {
  fill: var(--social-clr-secondary);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--social-clr-bcg);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--social-clr-secondary);
}
